@import '../../styles/variables.scss';

.LoginsignupContainer {
  .content {
    width: 1080px;
    .topBox {
      width: 1080px;
      height: 240px;
      text-align: center;
      padding: 40px 0 90px;
      h2 {
        display: block;
        font-size: 42px;
      }
      div {
        padding-top: 30px;
        text-align: center;

        span {
          font-size: 16px;
        }
      }
    }
    .title {
      width: 100%;
      height: 54px;
      padding-bottom: 15px;

      h3 {
        display: inline-block;
        font-size: 28px;
      }
      span {
        font-size: 14px;
        float: right;
      }
    }
    .tableBox {
      padding: 20px 0;
      border-top: 1px solid #000;
      border-bottom: 1px solid #e7e7e7;
      th {
        width: 155px;
        height: 60px;
        padding: 10px 0 10px 23px;
        line-height: 40px;
        color: #333;
        font-size: 14px;
        font-weight: normal;
        text-align: left;
        position: relative;
        i {
          position: absolute;
          top: 25px;
          left: 8px;
          color: red;
          font-size: 1%;
        }
      }
      td {
        width: 925px;
        height: 60px;
        padding: 10px 0;

        .textField {
          width: 402px;
          height: 40px;
          border: 1px solid #ccc;
          padding: 0 10px;
          input {
            width: 382px;
            height: 38px;
            font-size: 14px;
            border: none;
            outline: none;
          }
        }
        .textFieldEmail {
          width: 272px;
          height: 40px;
          border: 1px solid #ccc;
          padding: 0 10px;
          display: inline-block;
          input {
            width: 252px;
            height: 38px;
            font-size: 14px;
            border: none;
            outline: none;
          }
        }
        .chooseEmail {
          width: 120px;
          height: 40px;
          margin-left: 10px;
          border: 1px solid #ccc;
          display: inline-block;
          vertical-align: top;
        }
        .textFieldPhoneNumber {
          width: 402px;
          height: 40px;
          border: 1px solid #ccc;
          padding: 0 10px;
          display: inline-block;

          .phoneNumber {
            width: 382px;
            height: 38px;
            font-size: 14px;
            border: none;
            outline: none;
          }
        }
        .formCheckBox {
          width: auto;
          height: auto;
          display: inline-block;
          margin-left: 20px;

          label {
            color: #333;
          }
        }
        .textFieldAdressTop {
          .textFieldAdress {
            width: 272px;
            height: 40px;
            border: 1px solid #ccc;
            padding: 0 10px;
            display: inline-block;
            input {
              width: 252px;
              height: 38px;
              font-size: 14px;
              border: none;
              outline: none;
            }
          }
          button {
            width: 120px;
            height: 40px;
            margin-left: 10px;
            display: inline-block;
            background: none;
            border: 1px solid #000;
          }
        }
      }
      .textFieldAdressBottom {
        width: 440px;
        height: 40px;
        border: 1px solid #ccc;
        padding: 0 10px;
        margin: 8px 0;
        display: inline-block;
        input {
          width: 420px;
          height: 38px;
          font-size: 14px;
          border: none;
          outline: none;
        }
      }
    }
  }
  .btn {
    height: 103;
    padding-top: 40px;
    text-align: center;
    button {
      width: 280px;
      height: 63px;
      color: white;
      background: black;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }
  }
}
