@import '../../styles/variables.scss';

.LoginsignupContainer {
  margin-top: 300px;
  .content {
    .signUpTitle {
      width: 80%;
      margin: 50px auto 0 auto;
      text-align: center;

      h2 {
        font-size: 42px;
      }

      .subTitle {
        margin-top: 30px;
        .currentPhase {
          font-weight: 700;
        }

        span {
          font-size: 16px;
        }
      }
    }

    .userInfoInputTitle {
      width: 70%;
      margin: 90px auto 0 auto;
      padding-bottom: 15px;
      border-bottom: 1px solid #000;

      h3 {
        display: inline-block;
        font-size: 28px;
      }

      span {
        float: right;
        font-size: 14px;

        i {
          padding-right: 8px;
          color: red;
          font-size: 1%;
        }
      }
    }

    .userInfoInputHere {
      width: 70%;
      margin: 0 auto;
      padding-left: 20px;

      .errorMessage {
        color: red;
        margin: 10px 0 0 160px;
      }

      .solveError {
        color: green;
        margin: 10px 0 0 160px;
      }

      .inputContainer {
        margin-top: 20px;

        i {
          margin-right: 10px;
          color: red;
          font-size: 1%;
        }
        label {
          display: inline-block;
          font-size: 14px;
          width: 140px;
        }
        .inputField {
          width: 380px;
          height: 40px;
          border: 1px solid #ccc;
          padding: 12px;
        }
        &:nth-child(10) {
          margin-left: 18px;
        }
        &:nth-child(11) {
          #userEmail {
            width: 250px;
          }
          .chooseEmail {
            width: 120px;
            height: 40px;
            margin-left: 10px;
            border: 1px solid #ccc;
            display: inline-block;
            vertical-align: top;
            padding-left: 8px;
            line-height: 38px;
            color: #717171;
            font-size: 14px;

            i {
              color: #717171;
              font-size: 80%;
            }
          }
        }
        &:nth-child(14) {
          margin-left: 18px;
          #addressInputHere {
            width: 270px;
          }
          button {
            display: inline-block;
            width: 120px;
            height: 38px;
            margin-left: 10px;
            background: none;
            border: 1px solid #000;
            font-size: 14px;
            text-align: center;
          }
        }
        .formCheckBox {
          display: inline-block;
          margin-left: 20px;
        }
        .advertisementReceiveCheck {
          margin-left: 8px;
          width: 300px;
          font-size: 16px;
          color: #333;
        }
        &:nth-child(15) {
          margin-left: 158px;

          #detailAddress {
            margin-left: 10px;
          }
        }
      }
    }
  }

  .signUpButton {
    width: 70%;
    margin: 50px auto;
    height: 103;
    padding-top: 50px;
    text-align: center;
    border-top: 1px solid #ccc;

    button {
      width: 280px;
      height: 63px;
      color: white;
      background: black;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }
  }
}
