@import '../../styles/variables.scss';

.mainBanner {
  position: absolute;
  left: 0;
  right: 0;
  @include flexCenter($direction: column);
  margin-top: 180px;
  z-index: -1;

  .topBannerimageButtonList {
    position: absolute;
    right: 300px;

    .topBannerimageButton {
      width: 14px;
      height: 14px;
      margin-top: 30px;
      border: 2px solid white;
      border-radius: 50%;
    }
  }

  .selectedBannerImageButton {
    background-color: white;
  }
}
