@import '../styles/variables.scss';

.basicButton {
  display: inline-block;
  margin-top: 30px;

  .btn {
    height: 50px;
    margin: 5px;
    background-color: transparent;
    font-size: inherit;
    font-weight: bold;
    border: 1px solid;
    cursor: pointer;

    &.cart,
    &.order,
    &.shoppingMore {
      width: 285px;
    }

    &.order,
    &.putInCart,
    &.loadMore,
    &.confirm {
      background-color: $color-black;
      color: $color-white;
    }

    &.cancel,
    &.close,
    &.putInCart,
    &.confirm {
      width: 160px;
      margin: 0 10px;
    }

    &.loadMore {
      width: 180px;
      padding: 5px 20px 10px;
      margin: 30px auto;
      color: $color-white;
      font-size: $fs-l;
      cursor: pointer;
      transition: transform 200ms ease-in;
      will-change: transform;

      &:hover {
        transform: scale(1.02);
      }
    }

    &.outOfStockBtn {
      border: none;
      width: 160px;
      height: 54px;
      color: $color-white;
      background-color: $color-black;
      font-size: $fs-m;
    }
  }
}
