.footer {
  display: flex;
  flex-direction: column;
  margin-top: 100px;

  .footerBannerImage {
    width: 100%;
    height: 170px;
  }
  .footerContainer {
    display: flex;
    justify-content: center;
    padding: 50px 0 100px 0;
    background-color: black;
    color: white;

    .leftFooterContainer {
      display: inline-block;
      width: 200px;

      .leftFooter {
        display: flex;
        flex-direction: column;

        .hoxylushTitle {
          font-size: 30px;
          font-weight: 900;
        }

        .hoxylushOperationInfo {
          margin-top: 30px;

          li:nth-child(2) {
            margin-top: 8px;
            text-decoration: underline;
            font-size: 14px;
          }

          li:nth-child(3) {
            margin-top: 20px;
            font-size: 14px;
          }

          li:nth-child(4) {
            margin-top: 10px;
            font-size: 14px;
          }

          li:nth-child(5) {
            margin-top: 40px;
          }

          li:nth-child(6) {
            margin-top: 10px;
            text-decoration: underline;
            font-size: 14px;
          }
        }
      }
    }

    .rightFooterContainer {
      display: inline-block;

      .rightFooter {
        display: flex;
        flex-direction: column;

        .companyInfoList {
          .companyInfo {
            display: inline-block;
            margin-left: 48px;
            font-size: 14px;
          }
        }

        .lushSubscribe {
          position: relative;
          margin: 60px 0px 0px 48px;
          padding: 12px 0 14px 20px;
          width: 540px;
          height: 40px;
          background-color: white;

          .subscribeInputSpace {
            width: 340px;
          }
          .subscribeButton {
            position: absolute;
            right: 1px;
            bottom: 1px;
            width: 100px;
            height: 38px;
            color: white;
            background-color: black;
            font-size: 14px;
          }
        }
        .companyLocation {
          margin-left: 48px;

          div:nth-child(1) {
            margin-top: 20px;
          }

          div:nth-child(2) {
            margin-top: 12px;
          }

          div:nth-child(3) {
            margin-top: 30px;
            color: #979797;
            font-size: 14px;
            letter-spacing: -1px;
          }

          div:nth-child(4) {
            margin-top: 12px;
            color: #979797;
            font-size: 14px;
            letter-spacing: -1px;
          }

          div:nth-child(5) {
            margin-top: 40px;
            color: #979797;
            font-size: 14px;
            letter-spacing: -1px;
          }
        }
      }
    }
  }
}
