@import '../../../styles/variables.scss';

.btns {
  padding-top: 30px;

  .btn {
    height: 50px;
    margin: 5px;
    background-color: transparent;
    font-size: inherit;
    font-weight: bold;
    border: 1px solid;
    cursor: pointer;

    &.rightBtn {
      background-color: $color-black;
      color: $color-white;
    }

    &#cart,
    &#order {
      width: 285px;
    }

    &#cancel,
    &#close {
      width: 160px;
      margin: 0 10px;
    }
  }
}
