@import '../../../styles/variables.scss';

.detailImage {
  @include flexCenter(column);
  width: 380px;
  margin-right: 130px;

  .productImage {
    width: 380px;
    height: 350px;
    object-fit: cover;

    &.small {
      width: 65px;
      height: 65px;
    }
  }

  .slider {
    @include flexBtw(space-between);
    width: 380px;
    margin-bottom: 45px;

    i {
      color: $color-border;
      cursor: pointer;
    }
  }
}
